<div class="row">
  <div class="col">
    <h2 align="center" style="color: steelblue">Welcome to Quacker!</h2>

    <%= render partial: "layouts/shared/login" %>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card" style="background-color: lightsteelblue; border-style: none">
      <div class="card-body">
        <div class="d-grid gap-2">
          <a class="btn btn-primary btn-lg" href="/signup" role="button">Create An Account</a>
        </div>
      </div>
    </div>
  </div>
</div>