<div class="row">
  <div class="col">
    <h2 align="center">Welcome to Quacker!</h2>

    <%= render partial: "layouts/shared/login" %>

    <div>
      <%= link_to "Create a New User", signup_path, method: :get, class: 'btn btn-primary' %>


    </div>
  </div>
</div>