
<% if Current.user.id == @quack.user_id%>

    <%= render @quack %>


<div>
  <%= link_to "Edit this quack", edit_quack_path(@quack) %> |
  <%= link_to "Back to quacks", quacks_path, class: 'btn btn-primary'%>

  <%= button_to "Destroy this quack", @quack, method: :delete, class: 'btn btn-primary' %>
</div>
<% end %>
